* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a{
  text-decoration: none;
}

html,
body {
  font-size: 14px !important;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'lixukexingshu1b969ad7dc1c3e5';
  src: url('./assets/5d6ce9dff629d813c0d4984b.gif') format('embedded-opentype'),url('./assets/5d6ce9dff629d813c0d4984b.png') format('woff2'),url('./assets/5d6ce9dff629d813c0d4984b.bmp') format('woff'),url('./assets/5d6ce9dff629d813c0d4984b.gif') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.css1b969ad7dc1c3e5 {
  font-family: 'lixukexingshu1b969ad7dc1c3e5';
}

